body {
    font-family: 'Roboto';
    background: white;
    margin: 0 auto;
    max-width: 1600px;
}

a {
    text-decoration: none;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:active {
    /* selected link */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:focus {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:target {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0;

    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}
button:hover{
    background: #E47209;
}

button:active {
    background: #4B9200;
}
button:disabled {
    background: #767474;
}

.panda-image {
    position: absolute;
    width: 100%;
    aspect-ratio: 2.05;
    background-image: url("../../assets/images/giant_panda.jpeg");
    background-size: cover;
    background-position: center center;
}

.ellipse6 {
    position: absolute;
    top: 92px;
    left: calc(50% - 29vw / 2 + 239.5px);
    width: 29vw;
    aspect-ratio: 1;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.panda-image h2 {
    position: absolute;
    width: 30.125vw;
    /* height: 400px; */
    /* aspect-ratio: 5/4; */
    left: calc(50% - 30.125vw/2 + 330.15px);
    top: 166px;
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 6.5vw;/*104.5px;*/
    line-height: 77%;
    letter-spacing: 1px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}
.panda-image strong {
    color: #FFEE2E;
    letter-spacing: 3px;
}

.panda-image button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 39vw;
    border-radius: 25px;
}
.nav-container {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 80px;
    background: #000000;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;

}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
.logo {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    width: 82px;
    height: 52px;

    margin-top: 14px;
    padding: 3.75px 3.55px;

    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;

    text-align: center;

    color: #FFFFFF;

    border: 1.18841px solid #FFFFFF;
}

.logo img {
    position: absolute;
    left: 9.23px;
    top: 23.64px;
}

/* Wrapper for nav */
nav {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: white;
    text-indent: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding-inline-start: 3px;
}

.copyright-wrapper {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

.copyright {
    width: 105px;
    height: 22px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}