:root {
    --color-green: #4B9200;
    --color-orange: 
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */
    color: #333B41;
}

h4 {
    /* subtitle */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #333B41;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #333B41;
}

body {
    font-family: 'Roboto';
    background: white;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    color: white;
}

header {
    width: 1600px;
    margin: 0 auto;
    height: 80px;
    background: black;
    backdrop-filter: blur(2px);
}
header a {
    text-decoration: none;
    color: white;
}
header a:active {
    /* selected link */
    color: orange;
}
header a:focus {
    color: orange;
}
header a:target {
    color: orange;
}

.logo {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    width: 82px;
    height: 52px;
    left: 220px;
    margin-top: 14px;
    padding: 3.75px 3.55px;

    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;

    text-align: center;

    color: #FFFFFF;

    border: 1.18841px solid #FFFFFF;
}
.logo a {
    color: white;
    text-decoration: none;
}
.logo img {
    position: absolute;
    left: 9.23px;
    top: 23.64px;
}
nav {
    position: relative;
    left: 184px;
    top: 1px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: white;
    text-indent: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.copyright {
    position: relative;
    width: 105px;
    height: 22px;
    left: 625px;
    top: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

/* section panda */
.panda {
    width: 1600px;
    height: 700px;
    background-image: url("/online-zoo/assets/images/giant_panda.jpeg");
    background-size: cover;
    background-position: center -222px;
}

.ellipse6 {
    position: absolute;
    top: 92px;
    left: calc(59.1% - 465px / 2 + 239.5px);
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.panda h2 {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(59.1% - 500.31px/2 + 330.15px);
    top: 166px;
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 104.5px;
    line-height: 77%;
    letter-spacing: 1px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}
.panda strong {
    color: #FFEE2E;
    letter-spacing: 3px;
}

.panda button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(59.1% - 298px/2 + 332px);
    top: 626px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0;

    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}
.panda button:hover{
    background: #E47209;
}

.panda button:active {
    background: #4B9200;
}
.panda button:disabled {
    background: #767474;
}

/* section backstage */
.backstage {
    width: 1160px;
    margin-top: 140px;
    margin-bottom: 0;
    margin-left: 220px;
    margin-right: 0;
    display: flex;
}

.backstage article {
    width: 465px;
    margin-left: 86px;
}

.backstage h2 {
    margin-top: 0;
    margin-bottom: 13px;
}

.backstage h4 {
    margin-top: 49;
    margin-bottom: 24;
}

.backstage p {
    margin-top: 0;
    margin-bottom: 0;
}

.flower-foto-1 {
    position: absolute;
    height: 605px;
    width: 200px;
    left: 1400px;
    top: 792px;
    background-image: url("/online-zoo/assets/images/flower_foto1.png");
    background-size: auto;
}

/* section animals-cards */
.animals-cards {
    width: 1160px;
    margin-top: 140px;
    margin-bottom: 0;
    margin-left: 220px;
    margin-right: 0;
    display: flex;
}

.foto-card {
    box-sizing: border-box;
    width: 366px;
    height: 426px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #FE9013;
    /*border-image: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
*/
}
.foto-card img{
    box-sizing: border-box;
    width: 364px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.icon-fruits {
    position: relative;
    left: 321px;
    top: 376 px;
    width: 35px;
    height: 37px;
    background-image: url("/online-zoo/assets/icons/banana-bamboo_icon.png");
}