body {
    font-family: 'Roboto';
    background: white;
    margin: 0;
    max-width: 1600px;
}

a {
    text-decoration: none;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:active {
    /* selected link */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:focus {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:target {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header {
    width: 100%;
    background-color: black;
} */

.panda-image {
    width: 100%;
    height: 780px;
    background-image: url("../../assets/images/giant_panda.jpeg");
    background-size: cover;
    background-position: center center;
}

.nav-container {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 80px;
    background: #000000;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;

}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
.logo {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    width: 82px;
    height: 52px;

    margin-top: 14px;
    padding: 3.75px 3.55px;

    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;

    text-align: center;

    color: #FFFFFF;

    border: 1.18841px solid #FFFFFF;
}

.logo img {
    position: absolute;
    left: 9.23px;
    top: 23.64px;
}

/* Wrapper for nav */
nav {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: white;
    text-indent: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding-inline-start: 3px;
}

.copyright-wrapper {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

.copyright {
    width: 105px;
    height: 22px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}