body {
    font-family: 'Roboto';
    background: white;
    margin: 0 auto;
    width: 1600px;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */
    color: #333B41;
}

h3 {
    /* h3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
/* identical to box height, or 47px */
color: #000000;
}

h4 {
    /* subtitle */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #333B41;
}

p {
/* body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
color: #000000;
}

small {
    /* smallParagraph */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    color: #000000;
}

a {
    text-decoration: none;
    color: white;
}
a:active {
    /* selected link */
    color: orange;
}

a:hover {
    color: orange;
}
a:focus {
    color: orange;
}
a:target {
    color: orange;
}

button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0;

    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}
button:hover{
    background: #E47209;
}

button:active {
    background: #4B9200;
}
button:disabled {
    background: #767474;
}

/* header */
header {
    width: 1600px;
    margin: 0 auto;
    height: 80px;
    background: black;
    backdrop-filter: blur(2px);
}
.container-header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    width: 1160px;
    height: 100%;
}

.logo {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    width: 82px;
    height: 52px;
    padding: 3.75px 3.55px;

    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;

    text-align: center;

    color: #FFFFFF;

    border: 1.18841px solid #FFFFFF;
}

.logo img {
    position: absolute;
    left: 9.23px;
    top: 23.64px;
}

nav {
    position: relative;
    top: 1px;
}

nav ul {
    padding-inline-start: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: white;
    text-indent: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.active {
    color: orange;
}

.copyright {
    position: relative;
    width: 105px;
    height: 22px;
    padding-left: 440px;
    top: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

/* panda section */

.panda {
    width: 1600px;
    height: 386px;
    background-image: url("../../assets/images/panda_donate_bg.png");
    background-size: cover;
    background-position: center center;
}